body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://wallpapercave.com/w/wp5561834.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  width: 100%;
  height: 80px;
  display: block;
  font-family: 'Rubik Dirt', cursive; 
  font-variant: small-caps;
  font-size: 70px;
  text-align: center;
}

.inner_header{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: #086654;
}

#goals-description {
  font-family: cursive;
  font-size: large;
}

#row-inputs{
  font: 1em cursive;
  background-color: rgb(9, 9, 5);
  color:#29ac94
}

#add-btn{
  margin-left: .5rem;
}